.todo-app{
    background-color: rgb(225, 229, 243);
    color: rgb(64, 63, 70);
    width: 25vw;
    padding: 2rem;
    border-radius: 25% 0;
    filter:drop-shadow( 1rem 1rem rgba(60, 60, 95, 0.404))
}
button:hover, button:focus{
    border: 1px solid  rgb(52, 122, 180);
    background-color: rgb(170, 226, 240);
    color: rgb(15, 68, 102);
    outline: none;
}

.theme-switcher-button{
    background-color: rgb(44, 52, 71);
}

.simple-todo-form-container{
    margin-top: 2rem;
    border-top: 1px solid rgb(179, 175, 175);
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.todo-input{
    background-color: white;
    height: 2rem;
    margin-right: 1rem;
    border-radius: 0.3rem;
    border: 1px solid gray;
}
.todo-submit-button{
    background-color: rgb(52, 122, 180);
}

.todo-filter-buttons{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}
.tasks-filter-buttons button{
    margin-right: 0.5rem;
}

.all-button{
    background-color: rgb(52, 122, 180);    
}
.active-button{
    background-color:  rgb(161, 42, 58);
}
.completed-button{
    background-color:  rgb(29, 124, 53);
}